@model OruBloggen.Models.HomePostViewModel

@{
    ViewBag.Title = "PostView";
}

@*<h2>PostView</h2>

    @using (Html.BeginForm("AddPost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            Titel:
            @Html.EditorFor(model => model.AddPostViewModel.PostTitle)
        </div>
        <br/>
        <div>
            Inlägg:
            @Html.TextAreaFor(model => model.AddPostViewModel.PostText)
        </div>

        <div>
        Välj typ av inlägg:
        @Html.DropDownList("AddPostViewModel.PostFormal", ViewData["PostTypes"] as List<SelectListItem>, new { @class = "form-control", @onchange = "viewCategory(this.value)" }) </div>

        <div id="formal" style="float:left;">
        Välj en kategori:
        @Html.DropDownList("AddPostViewModel.CategoryFormal", ViewData["CategoriesFormal"] as List<SelectListItem>, new { @class = "form-control" })
        </div>

        <div id="informal" style="display:none; float:left;">
        Välj en kategori:
        @Html.DropDownList("AddPostViewModel.CategoryInformal", ViewData["CategoriesInformal"] as List<SelectListItem>, new { @class = "form-control" })
        </div>

        <input type="file" name="file" value="Ladda upp en fil"/>
        <input type="submit" value="Skicka inlägg" />
    }*@

@using (Html.BeginForm("AddPost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="användarposts">
        <div class="list-group">
            <h3>Skriv ett inlägg</h3>
            <form id="add-post-form">
                @Html.EditorFor(model => model.AddPostViewModel.PostTitle)
                <div class="form-group">
                    <div style="width: 100%;" class="input-group">
                        @Html.TextAreaFor(model => model.AddPostViewModel.PostText, new { style = "min-width: 100%; width:100%", rows = "5" })
                        <input type="file" name="file" value="Ladda upp en fil" />
                    </div>
                        <button type="submit" class="btn btn-success">
                            Skicka inlägg
                        </button>
                </div>
            </form>
            <h3>Inlägg</h3>
            @foreach (var item in Model.PostViewModel)
            {
                <div>
                    <div data-item-id="@item.PostID" style="cursor: pointer;" class="todo-item list-group-item">
                        <a id="postlink" href="~/Manage/">
                            <h3>@item.PostSender</h3>
                           
                        </a>
                        <p class="message" style="font-size: large;"> @item.PostText</p>
                        <p class="datetime" style="font-size: xx-small"> @item.PostDate </p>
                    </div>
                </div>
            }

        </div>
    </div>

}

<hr />

@*@foreach (var post in Model.PostViewModel)
    {
        <div>
            <a class="list-group-item">
                @post.PostSender
            </a>
            <a class="list-group-item">
                @post.PostTitle , @post.PostDate
            </a>
            <a class="list-group-item">
                @post.PostCategory
            </a>
            <p class="list-group-item"> @post.PostText </p>
        </div>
        <br />
    }*@




@section scripts {
    @*<script type="text/javascript">

            function viewCategory(value) {
                var formal = document.getElementById("formal");
                var informal = document.getElementById("informal");

                if (value == "false") {
                    informal.style.display = 'block';
                    formal.style.display = 'none';
                }
                else {
                    formal.style.display = 'block';
                    informal.style.display = 'none';
                }
            };
        </script>*@

}
