@model OruBloggen.Models.MeetingModel
@using Microsoft.AspNet.Identity;
@using OruBloggen.Models;
@{
    ViewBag.Title = "PostDetails";
}
<h2>@Model.MeetingTitle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Model.MeetingDesc
        </dd>

        <dd>
            @Html.DisplayFor(model => model.MeetingStartDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.MeetingEndDate)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Ta bort", "DeletePost", new { id = Model.postModel.PostID }) |
        @Html.ActionLink("Tillbaka till listan", "Posts")*@
</p>