@model OruBloggen.Models.AdminViewModel
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

@foreach (var item in Model.postModels)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>*@
    </tr>
}

