@model OruBloggen.Models.AdminViewModel
@using Microsoft.AspNet.Identity;
@using OruBloggen.Models;
@{
    ViewBag.Title = "PostDetails";
}
@if (Utility.isAdmin(User.Identity.GetUserId()))
{
    <h2>Inlägg</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.postModel.PostTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.postModel.PostTitle)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.postModel.PostText)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Ta bort", "DeletePost", new { id = Model.postModel.PostID }) |
        @Html.ActionLink("Tillbaka till listan", "Posts")
    </p>
} else
{
    <h3>Du har inte behörighet till denna sidan.</h3>
}
