@model OruBloggen.Models.AdminViewModel
@using Microsoft.AspNet.Identity;
@using OruBloggen.Models;
@{
    ViewBag.Title = "Posts";
}
@if (Utility.isAdmin(User.Identity.GetUserId()))
{
    <h2>Inlägg</h2>
    <table class="table">

        @foreach (var item in Model.postModelList)
        {
        <tr>
            <td>
                @Model.userModelList.FirstOrDefault(p => p.UserID == item.PostUserID).UserFirstname @Model.userModelList.FirstOrDefault(p => p.UserID == item.PostUserID).UserLastname
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Utility.getCategoryById(item.PostCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>

            <td>
                @Html.ActionLink("Visa inlägg", "PostDetails", new { id = item.PostID }) |
                @Html.ActionLink("Ta bort", "DeletePost", new { id = item.PostID })
            </td>
        </tr>
        }
    </table>
}
else
{
    <h3>Du har inte behörighet till denna sidan.</h3>
}
