@model OruBloggen.Models.MessageViewModel
@{
    ViewBag.Title = "ShowMessages";
}

<h2>ShowMessages</h2>

@using (Html.BeginForm("ShowMessages", "Messages", FormMethod.Post))
{
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    foreach (var sender in Model.ListOfSenders)
    {
            foreach (var item in Model.ListOfMessages)
            {
                if (sender.UserID == item.MessageSenderID)
                {
                <div class="Mydiv divbutton">
                    <p><strong>Titel</strong>: @item.MessageTitle</p>
                    <p><strong>Text</strong>: @item.MessageText</p>

                    <p><strong>Avsändare</strong>: @sender.UserFirstname @sender.UserLastname</p>

                    <button type="button" style="display:none" onclick="location.href ='@Url.Action("ReturnResponsePage", "Message", new { userId = item.MessageSenderID })'">Svara </button>
                </div>
                }
            }
    }

}


@section scripts
{
    <script>
        $(document).ready(function () {
            $(document).on('mouseenter', '.divbutton',
                function () {
                    $(this).find(":button").show();
                }).on('mouseleave', '.divbutton', function () {
                    $(this).find(":button").hide();
                });
        });
    </script>
}

